/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head {
  display: flex;
  justify-content: space-between;
}
.head img {
  width: 80px;
  border-radius: 50%;
}

.container h1 {
  color: #7e78d2;
}
a {
  text-decoration: none;
  background-color: #2c2c2c;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
a:hover {
  background-color: #fff;
  color: #2c2c2c;
}
h1,
h2 {
  color: #333;
}

.post-form input[type="text"],
.post-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.post-form button:hover {
  background-color: #0056b3;
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.post h2 {
  color: #007bff;
  margin-top: 0;
}

.post p {
  color: #555;
}

.post button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post button:hover {
  background-color: #c82333;
}

.post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
